<!DOCTYPE html>
<html>
<head>
  <title>{{ title }}</title>
  <!-- <link href="/main.css" type="text/css" rel="stylesheet"> we can also use this -->
  <link href="/static/main.css" type="text/css" rel="stylesheet">
</head>
<body>
  <div class="container">
    <h1>Welcome to {{ name }} !</h1>
    <p>This is the example page of LumosWeb, a fantastic web framework.</p>
    <p>You can create your templates in  <code>templates/</code>  directory.</p>
    <p>Like This one :) </p>
  </div>
</body>
</html>
