<!DOCTYPE html>
<html>
<head>
  <title>{{ title }}</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f2f2f2;
      margin: 0;
      padding: 0;
    }

    .container {
      max-width: 600px;
      margin: 0 auto;
      padding: 20px;
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    h1 {
      color: #20786f;
      text-align: center;
    }

    p {
      color: #666;
      text-align: center;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>Welcome to {{ name }} !</h1>
    <p>This is the example page of LumosWeb, a fantastic web framework.</p>
    <p>You can create your templates in  <code>templates/</code>  directory.</p>
    <p>Like This one :) </p>
  </div>
</body>
</html>
